<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <title>Todo App</title>
    </head>
    <body>
        <div class="container">
            <header class="text-center">
                <h1>Todo App</h1>
                <h3>Organize Your Life</h3>
                <h5>Created By: Sumati Jain</h5>
                <br>
            </header>
