<% include ../views/partials/header %>
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="/todo/edit/<%= todo._id %>">
            <div class="form-group">
                <label>Todo Name</label>
                <input class="form-control" type="text" name="todoText" placeholder="Add Name" value="<%= todo.text %>">
            </div>
            <div class="form-group">
                <label>Todo Text</label>
                <textarea class="form-control" name="todoBody" placeholder="Add ToDo"><%= todo.body %></textarea>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Modify</button> 
            <a href="/" class="delete-todo btn btn-danger"> Cancel</a>
        </form>
    </div>
</div>
<% include ../views/partials/footer %>