<% include ../views/partials/header %>
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="/todo/add">
            <div class="form-group">
                <label>Todo Name</label>
                <input class="form-control" type="text" name="todoText" placeholder="Add Name">
            </div>
            <div class="form-group">
                <label>Todo Text</label>
                <textarea class="form-control" name="todoBody" placeholder="Add ToDo"></textarea>
            </div>
            <br>
            <button class="btn btn-primary btn-block"  type="submit">Add</button>
        </form>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <% todos.forEach(function(todo) { %>
                <li class="list-group-item">
                    <b><%= todo.text %></b>
                    <br><p><%= todo.body %></p>
                    <a class="btn btn-primary btn-xs" href="/todo/edit/<%= todo._id %>" class="edit-todo">Edit</a> 
                    <a data-id='<%= todo._id %>' href="#" class="delete-todo btn btn-danger btn-xs">Delete</a> 
                </li>
            <% }) %>
        </ul>
    </div>
</div>
<% include ../views/partials/footer %>