doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='#') Sumati First Website
      |                     
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |                     
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='index.html')
              | Home 
              span.sr-only (current)
          |                         
          li.nav-item
            a.nav-link(href='about.html') About
          |                         
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
        |                       
        form.form-inline.mt-2.mt-md-0
          input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
          |                         
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    block content
